<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>A creatina pode ajudar a melhorar a força, a potência, o tempo de recuperação e aumenta a massa muscular magra. Todavia, apesar da creatina ser boa por si só, estudos sugerem que ela pode ser ainda melhor. Os nossos pesquisadores desenvolveram uma fórmula de creatina com ingredientes que possibilitam que a construção muscular seja mais rápida que a creatina pura.

A FORMULA DE CREATINA MAIS AVANÇADA DO MERCADO.

O CELLPOWER fornece em sua fórmula uma super dose com 10,00mg de um Blend exclusivo de Creatinas, proporcionando o aumento da produção de insulina, o que intensifica a captação da Creatina pelos músculos, já que o transporte da Creatina até as fibras musculares são feitos por um transportador que depende da insulina.

BENEFÍCIOS
•	Aumenta os músculos de forma rápida;
•	Aumento rápido de força muscular;
•	Leva a creatina mais rápido aos musculos;
•	Fórmula Exclusiva
•	Promove a regeneração de fontes energéticas (ATP) e síntese proteica;
•	Promove hipertrofia;
•	Ganho de massa magra.

</string>
	<string>MUSCLE9 é uma fórmula ousada que mistura 9 frações multi-funcionais de proteínas, cada com uma taxa de absorção diferente e distinta na sequencia de aminoácidos. Altamente anabólico, é uma combinação de proteínas de ação ultra rápida e de longa duração. Ele oferece uma carga rápida anabólica seguido por frações para construção sustentada do músculo. A formula foi desenvolvida baseada nos mais importante estudos científicos de Universidades do mundo todo.

A FORMULA DE WHEY PROTEIN TIME RELEASE MAIS AVANÇADA DO MERCADO.

Precisamente formulada e composta por uma matriz de proteínas do soro de leite, soja e caseína e albumina, fornecem elevados níveis de aminoácidos essenciais. Além disso, devido o desenvolvimento da alta tecnologia de absorção, Time-Release, o MUSCLED9 conseguiu apresentar uma fase revolucionária de 30 minutos a 12 horas de liberação. Este sistema permite que o organismo receba continuamente altas concentrações de aminoácidos. Esta tecnologia consegue aumentar a bio-disponibilidade da plena utilização de 100% a cada grama de proteína sem desperdiçar o produto, desencadeando assim, crescimento e recuperação muscular durante todo o dia e toda a noite.

BENEFÍCIOS
•	Cientificamente desenvolvida;
•	Contém 9 tipos diferentes de Proteínas;
•	Contém PEPTOPRO
•	Auxilia no aumento da massa muscular e melhor recuperação;
•	Estimula o aumento dos níveis de agentes anabólicos no corpo;
•	Otimiza a recuperação muscular.

</string>
	<string>MUSCLELIPO é um suplemento alimentar inovador desde a sua proposta de consumo, que por ser em pó proporciona prazer ao consumi-lo. Através de sua multiação contém um blend de ingredientes que aumentam a energia, o humor e a eliminação de toxinas. Desenvolvido especialmente com uma mega dose de componentes que auxiliam a queima de gordura e são cientificamente comprovadas.

A FORMULA DE TERMOGÊNICO MAIS AVANÇADA DO MERCADO.
Contém em sua fórmula combinações de ativos termogênicos promovedores da ativação metabólica que aumenta o gasto energético e promove a ativação metabólica. Um excelente produto que complementam as dietas para controle do peso, a busca por mais definição e energia para o melhor rendimento de atividades físicas.

BENEFÍCIOS
• Aumenta a Energia;
• Elimina Toxinas;
• Alta concentração de cafeína pura;
• Fórmula nova e exclusiva;
• Estimula o metabolismo a queimar gorduras;
• Aumento de energia;
• Tonificação muscular;</string>
	<string>MUSCLEMASS é um suplemento alimentar indicado para atletas e esportistas de qualquer modalidade que desejam o aumento de massa muscular magra, agilidade na recuperação muscular e reposição energética. Composta exclusivamente com Whey Protein Isolado, que é rico em BCAA e de rápida absorvição.

A FORMULA DE MILK SHAKE PROTEIN MAIS AVANÇADA DO MERCADO.

O complexo de carboidrato é essencial para fornecer energia constante em todo o período da atividade física, além de ser responsável para completar os estoques de glicogênio no músculo evitando a fadiga e o catabolismo muscular. Todo suplemento alimentar compensador precisa ter proteína, carboidrato e pelo menos uma pequena quantidade de gordura (polinsaturada e insaturada) que não aumenta o nível de colesterol ruim e ajuda na absorção de vitaminas.

BENEFÍCIOS
•	Fornece calorias positivas;
•	Proporciona o aumento de massa muscular;
•	Melhora a performance;
•	Acelera a recuperação pós-treino;
•	42g de proteína da mais alta qualidade
•	Contém Glutamina e BCAAs

</string>
	<string>MUSCLEMEAL é uma refeição rápida, conveniente, e deliciosa que fornece Proteínas superiores, carboidratos com alto valor biológico, além de fibras dietética, vitaminas, e minerais essenciais. 
Usando somente Proteínas do Soro do Leite (Whey Protein), criamos uma refeição superior, com o mais elevado valor nutritivo, além de ser cremoso, saboroso e realmente fácil de preparar. MUSCLEMEAL foi então projetada para criar um ambiente metabólico e hormonal ideal, permitindo assim máxima construção muscular, queima de gordura e resistência.

A FORMULA DE MEAL MAIS AVANÇADA DO MERCADO.
Sua composição balanceada, auxilia tanto no ganho de massa magra, como na perca de gordura. Promove a saciedade podendo substituir até 2 refeições diárias. Com alto teor de cálcio, mineral com participação importante em dietas de redução de peso.
INFORMAÇÕES EXTRAS:

Carboidratos (27,5%):
Atua nos hormônios da insulina para evitar a formação de triglicerídeos em gordura corporal, Diminui a produção de cortisol, produzido em resposta exercícios físico e ao stress emocional, um dos maiores pesadelos para os atletas por ser um hormônio catabólico. Além de atuar no glucagon para fornecer energia, regular o nível de açúcar no sangue e aumentar a queima de gordura, protege a proteína e a massa muscular de ser utilizada como fonte de energia, impede a hipoglicemia em atletas que estão à base de uma dieta e treinamento intenso e controlar índice glicêmico. 

Proteína (50%):
Importante fonte de aminoácidos nos quais seu organismo utiliza para fabricar hormônios, enzimas, componentes do sistema imune, Proteínas sanguíneas, tecido conjuntivo além de alimentar o tecido muscular de aminoácidos de acordo com suas necessidades ajudando na sua recuperação e crescimento. 

Consumo de gordura (10%):
Funciona como fonte de energia secundaria, para produção de hormônios, reduz inflamação, auxilia na saúde cardiovascular e controla a fome, além de desacelerar a digestão, ajudam na absorção de vitaminas, controlam a insulina permitindo ao mesmo tempo, lenta e constante liberação de aminoácidos de proteínas.

BENEFÍCIOS
• Ótimo para pós-treino;
• Suporte ao ganho de massa muscular;
• Promove ganho de massa magra com qualidade e definição muscular;
• Fornece 40g de Proteínas da mais alta qualidade;
• Contém apenas 22g de carboidratos;
• Possui também 23 vitaminas e minerais essenciais;
• Baixo nível de gordura;
• Sem adição de açúcar;
• Pode substituir até duas refeições;
• Nutrição balanceada;
• Ajuda a aumentar e manter massa muscular;
• Contém L-Glutamina;
• Contém Whey Protein Isolate;
• Contém Waxy Maize;
• Delicioso e fácil de usar;</string>
	<string>O MUSCLEVAPOR é um pré treino / vasodilatador que vai além dos tradicionais “hardcore” do mercado. Ele vai te levar a outro nível, com uma formula desenvolvida baseado nos mais modernos estudos científicos de Universidades do mundo todo

A FORMULA DE BCAA MAIS AVANÇADA DO MERCADO.

Ele foi projetado para profissionais que trabalham duro para manter e aumentar sua massa magra. Todos os seus ativos agem sinergicamente para maximizar o PUMP e o crescimento dos músculos. Sem os efeitos colaterais de substâncias proibidas com estudos duvidosos.
 
BENEFÍCIOS
•	Revolucionária fórmula cientificamente desenvolvida
•	Permite ao atleta treinar mais duro e por mais tempo.
•	Proporciona uma recuperação mais rápida.
•	Aumenta o meio anabólico e a resposta ao treino.
•	Melhora o envio de nutrientes aos músculos.
•	Aumenta a produção de energia.
•	Incrível descarga de força e energia
•	Gera um maior volume muscular
•	Deixa os músculos vascularizados e definidos
•	Grande aumento de resistência e disposição para treinar
•	Aumenta o foco e a concentração no treino
•	Totalmente natural, seguro e eficaz

</string>
	<string>MUSCLETRAIN da MUSCLED2 é um produto moderno caracterizado por ser um intra-treino, ou seja, um produto para ser consumido durante seu treino. É composto por Waxymaize, aminoácidos essenciais e outros componentes bio-ativos que tem por objetivo promover a expansão miocelular e a permeabilidade da membrana das células musculares de maneira que haja uma super-compensação de glicogênio e aminoácidos essenciais na musculatura com a finalidade de aumentar o desempenho aeróbio e anaeróbio, a resistência e força musculares, o volume muscular assim como a recuperação auxiliando no desencadeamento da síntese protéica, melhorando de forma acintosa a performance nos treinamentos.

A FORMULA DE MILK SHAKE PROTEIN MAIS AVANÇADA DO MERCADO.

O SHAKEPROTEIN tem uma fórmula cientificamente avançada de Proteínas de soro de leite que faz parte da nova linha da série PROFISSIONAL. Este suplemento de proteína recém-criado é perfeito para qualquer nível de atleta, a qualquer hora do dia, ajudando você a construir massa muscular magra.

BENEFÍCIOS
•	Rapida construção muscular;
•	Auxilia a hidatração celular;
•	Auxilia na recarga de glicogênio e força.
•	Previne o catabolismo muscular;
•	16g de proteína da mais alta qualidade;
•	Contém Glutamina e Leucina;
•	Contém 5,5g de Waxy Maize;

</string>
	<string>NITROWHEY é um suplemento de proteína ideal ganho de massa magra para uso diário, proporcionando uma relação perfeita para uma absorção máxima, crescimento do tecido corporal, manutenção e reparação. Ele foi projetado para profissionais que trabalham duro para manter e aumentar sua massa magra. Já que uma dieta rica em Proteínas de alto valor biológico melhora o rendimento durante os treinos de força, auxiliando no desenvolvimento e manutenção da massa muscular.

A FORMULA DE WHEY PROTEIN MAIS AVANÇADA DO MERCADO.

O Nitrowhey tem uma fórmula cientificamente avançada de Proteínas de soro de leite que faz parte da nova linha da série PROFISSIONAL da MUSCLED2. Este suplemento de proteína recém-criado, foi desenvolvido baseado nos mais modernos estudos científicos de Universidades do mundo todo, com incríveis: 50g de proteína pura por porção.

BENEFÍCIOS
•	Proteína de alto valor biológico e de excelente absorção;
•	Promove o ganho de massa muscular magra.
•	100% Whey Protein
•	50g de Proteina
•	Protein Media, Rápida e Ultra Rápida Velocidade
•	Retenção de Nitrogenio
•	Formula que maximiza a absorção de proteinas
</string>
	<string>O POWERMAIZE é um suplemento alimentar do milho ceroso, que é um carboidrato extraído do amido de milho que é rapidamente absorvido.

A FORMULA DE WAXY MAIZE MAIS AVANÇADA DO MERCADO.

Isso acontece pois seu peso molecular é maior e a sua taxa de osmolaridade é mais baixa se comparado a outros tipos de Carboidratos, desta forma o Waxy Mayze Pure “desvia” sua absorção no estômago, sendo rapidamente assimilado para auxiliar na reposição dos estoques de glicogênio com mais eficiência que outras misturas de Carboidratos. Por este motivo é recomendado para pós-treino.

BENEFÍCIOS
•	Ajuda na máxima absorção.
•	Ajuda na reposição dos estoques de glicogênios.
•	Recuperação muscular pós-treino.
•	0% de gordura.
•	Regeneração de fontes energéticas.
•	Mais Energia muscular.
•	Aumenta a síntese protéica.
•	Melhor hidratação muscular.
</string>
	<string>Com o SHAKEPROTEIN você atinge realmente altos níveis de ingestão protéica com uma metabolização de velocidade média e retenção de nitrogênio, o que otimiza seu rendimento e performance muscular. 
Um nível adequado de Proteínas no corpo é ideal para manter a massa muscular e manter o corpo forte e bem desenvolvido.

A FORMULA DE MILK SHAKE PROTEIN MAIS AVANÇADA DO MERCADO.

O SHAKEPROTEIN tem uma fórmula cientificamente avançada de Proteínas de soro de leite que faz parte da nova linha da série PROFISSIONAL. Este suplemento de proteína recém-criado é perfeito para qualquer nível de atleta, a qualquer hora do dia, ajudando você a construir massa muscular magra.

BENEFÍCIOS
•	Proteína de alto valor biológico e de excelente absorção;
•	Promove o ganho de massa muscular magra.
•	100% Whey Protein.
•	Retenção de Nitrogenio.
•	Sabor Ultra Premium.
•	Baixa Caloria

</string>
	<string>Os BCAA’s são aminoácidos de cadeia ramificada que representam aproximadamente um terço do total de aminoácidos presentes na musculatura. São essenciais para todas as reações de sínteses do tecido muscular e tem sido usado por atletas de alto nível do mundo todo.

A FORMULA DE BCAA MAIS AVANÇADA DO MERCADO.

Trata-se de um complexo de aminoácidos formados por Leucina, Isoleucina e Valina, sendo todos essenciais e obtidos através de uma dieta equilibrada. As células do nosso corpo necessitam destes Aminoácidos para sintetizar proteínas, portanto os BCAA’s fazem parte e são essenciais tanto no processo de construção muscular, quanto na produção de energia. BCAA POWER é indicado para praticantes de atividades físicas que desejam aumento de massa muscular e principalmente protegê-la do catabolismo muscular (queima de massa muscular pelo organismo como fonte de energia para o corpo).

BENEFÍCIOS
•	Aumenta a síntese de proteína;
•	Reduz o catabolismo (quebra de proteína);
•	Recuperação e crescimento muscular;
•	Resistência física;
•	Fonte de energia.
•	Otimizador Metabólico;
•	Complexo de Aminoácidos de rápida absorção muscular;
•	Sugar ZERO!
•	100% Instantized BCAA
•	100% NANO TECNOLOGY
•	Sabor delicioso
•	5000mg por porções

</string>
	<string>O Colágeno é a Proteína mais abundante do organismo e representa mais de 30% de sua proteína total. Ele é composto por diversos tipos de Aminoácidos e exerce, entre outras funções, a de unir e fortalecer tecidos. Com o passar dos anos, o corpo passa a não produzir a quantidade ideal de Colágeno e a alimentação moderna também não é capaz de suprir toda sua necessidade. Usado para enrijecer os tecidos da pele, eliminar as rugas, aumentar a tonicidade dos músculos e como auxiliar nos regimes de emagrecimento. Indicado como coadjuvante em dietas de emagrecimento, prevenindo a flacidez e o surgimento de estrias, colabora também na correta formação das fibras colágenas da pele e tecidos adjacentes, sendo benéfico na prevenção de celulite. Fortalece as unhas e melhora o aspecto do cabelo.

A FORMULA DE COLÁGENO MAIS AVANÇADA DO MERCADO.

O COLAGEN COMPLEX é um suplemento alimentar desenvolvido para praticantes de atividades físicas ou não que sofrem de danos na cartilagem como resultado de movimentos repetitivos e uso excessivo das juntas. Auxilia na regeneração de cartilagens, tendões e ligamentos acelerando a cura de contusões esportivas como torções e tensões musculares, protege a integridade estrutural das articulações e vasos sanguíneos. ajuda o organismo a produzir e estabilizar Colágeno saudável nos tecidos de conectividade, além de manter articulações saudáveis e flexíveis.

BENEFÍCIOS
•	Fortalecimento dos ligamentos, pele, cabelo e unhas;
•	Auxilia na síntese de queratina;
•	Único com 10g de colágeno na porção;
•	Contém anti-oxidantes;
•	Apenas 35kcal;

</string>
	<string>Feminino</string>
	<string>Masculino</string>
</array>
</plist>
